html{
    box-sizing: border-box;
    font-size: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Genshin Font";
    src: url(../font/ja-jp.ttf)
}

*, *::before, *::after{
    box-sizing: inherit;
}

body{
    height: 100%;
    margin: 0;
    padding: 0;
    background: #343F4F;
}

h1{
    font-family: "Genshin Font";
}

#map{
    height: 100%;
}

.custom-map-control-button {
    background-color: #fff;
    border: 0;
    border-radius: 2px;
    box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
    margin: 10px;
    padding: 0 0.5em;
    font: 400 18px "Genshin Font";
    overflow: hidden;
    height: 40px;
    cursor: pointer;
  }
  .custom-map-control-button:hover {
    background: #ebebeb;
  }

.contain {
    margin: 0;
    text-align: left;
    height: 80px;
    z-index: 20;
    position: absolute;
    z-index: 1;
}

.dynamic {
    margin-left: 15px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    color: #fff;
    text-shadow: 2px 2px 4px #000000;
    border-right: 3px solid #fff;
    font-family: "Genshin Font";
    font-size: 50px;
}
